.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #43bce7;
    padding-left: 2.5rem;
    padding-right: 2.5rem;

    .logo {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 17rem;
    }
}
