nav {
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;

        li {
            padding: 1rem;
            color: white;
        }
    }
}
